.announcer-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343434;
  padding: 30px;
}

.ad {
  color: white;
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
}