.diagram-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .diagrams {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .diagram {
    width: 50%;
  }
}
